extends layout

block contents
    #api
        ul.maingrid.small-block-grid-1.medium-block-grid-4
            for m, key in apiModules
                li
                    .panel.translucent
                        h5.translucent
                            a(href="/#{m.moduleNameLower}") #{m.moduleName}
                        .inner-panel
                            div
                                span Data:
                                span #{Object.keys(m.data).length} keys
                            div
                                span OAuth:
                                if m.oauth != undefined
                                    a(href="#{m.moduleNameLower}/auth")
                                        if m.oauth.authenticated
                                            span.valid Authenticated
                                        else
                                            span.invalid Not authenticated
                                else
                                    span None
