extends layout

block contents
    #email
        table
            tbody(data-bind="foreach: processedEmails")
                tr
                    td(data-bind="text: message.from")
                    td(data-bind="text: message.subject")