#fitness
    ul.maingrid.small-block-grid-1.medium-block-grid-2

        li.body(data-bind="with: recentBodyMeasures")
            h2 Body measures
            .summary
                i.weight.fa.fa-tachometer
                span(data-bind="text: weight.toFixed(1) + 'kg'")
                i.fat.fa.fa-filter
                span(data-bind="text: fat.toFixed(1) + '%'")
            .panel
                canvas.chart
        li
            h2 Activities
            .summary
                span ...
            .panel
                span Soon...
