extends layout

block contents
    #home
        script#weather-template(type="text/html")
            label(data-bind="text: title")
            span.condition(data-bind="text: condition")
            span.temperature(data-bind="text: temperature")
            span.humidity(data-bind="text: humidity")

        div.weather
            ul.small-block-grid-4
                li.bedroom(data-bind="template: {name: 'weather-template', data: bedroom}")
                li.livingroom(data-bind="template: {name: 'weather-template', data: livingroom}")
                li.babyroom(data-bind="template: {name: 'weather-template', data: babyroom}")
                li.kitchen(data-bind="template: {name: 'weather-template', data: kitchen}")