doctype html
html.no-js(lang="en")
    head
        title Ayla
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        != css("styles")
        != css("foundation")
        != css("fontawesome")
        for c in loadCss
            != css(c)

        script(src="/socket.io/socket.io.js")
        script window.ayla = {};

        != js("scripts")
        for j in loadJs
            != js(j)

        if data
            script.
                ayla.serverData = !{JSON.stringify(data)};
    body
        #wrapper
            nav#header.top-bar(data-topbar)
                ul.title-area
                    li.name
                        h1
                            a(href="#") Ayla
                    li.toggle-topbar.menu-icon
                        a(href="#") Menu
                section.top-bar-section
                    ul.left
                        for m, key in managers
                            li(class="#{m.title.toLowerCase()}")
                                a(href="/#{m.title.toLowerCase()}") #{m.title}
                        li.api
                            a(href="/api") API Modules
            div#contents
                block contents
