doctype html
html.no-js
    head
        title Ayla
        meta(name="apple-mobile-web-app-capable", content="yes")
        script(src="/socket.io/socket.io.js")
        script window.ayla = {};
        != js("scripts")
        != css("styles")
        for j in loadJs
            != js(j)
    body
        #wrapper
            nav#header.top-bar.fixed
                ul.title-area
                    li.name
                        h1
                            a(href="/") Ayla
                section.top-bar-section
                    ul.left
                        li
                            a.today(href="/today") Today
                        li
                            a.home(href="/home") Home
                        li
                            a.security(href="/security") Security
                        li
                            a.fitness(href="/fitness") Fitness
                        li
                            a.money(href="/money") Money
                        li
                            a.system(href="/system") System
            div#contents
                h2= pageTitle
                block contents