doctype html
html.no-js
    head
        title Ayla
        meta(name="apple-mobile-web-app-capable", content="yes")
        script(src="/socket.io/socket.io.js")
        script window.ayla = {};
        != js("scripts")
        != css("styles")
        for j in loadJs
            != js(j)
        script.
            ayla.serverData = !{JSON.stringify(data)};
    body
        #wrapper
            nav#header.top-bar.fixed
                ul.title-area
                    li.name
                        h1
                            a(href="/") Ayla
                section.top-bar-section
                    ul.left
                        li.today
                            a(href="/today") Today
                        li.home
                            a(href="/home") Home
                        li.security
                            a(href="/security") Security
                        li.fitness
                            a(href="/fitness") Fitness
                        li.money
                            a(href="/money") Money
                        li.system
                            a(href="/system") System
            div#contents
                block contents