extends layout

block contents
    #lights
        ul.maingrid.large-block-grid-3

            li.hue
                div
                    h2 Hue lights
                    <!-- ko with: hue -->
                    div.lightlist(data-bind="foreach: lights")
                        div.clearfix(data-bind="attr: {'data-lightid': id}")
                            span(data-bind="text: title")
                            button.button.tiny.right(data-bind="text: state ? 'ON' : 'OFF', css: state ? 'success' : 'alert', click: ayla.currentView.hueLightToggle")
                            input.right(data-bind="value: color, colourPicker: true")
                    <!-- /ko -->

            li.ninja
                div
                    h2 Ninja lights
                    div.lightlist(data-bind="foreach: ninja")
                        div.clearfix
                            span(data-bind="text: title")
                            button.button.tiny.right(data-bind="click: ayla.currentView.ninjaLightToggle") Actuate

            li.all
            div
                h2 All
                div.all
                    button.success All ON
                    button.alert All OFF
