extends layout

block contents
    #lights
        ul.maingrid.large-block-grid-3

            li.hue
                div
                    h2 Hue lights
                    div(data-bind="foreach: hue")
                        div.lightlist(data-bind="foreach: lights")
                            div.clearfix
                                span(data-bind="text: name")
                                <!-- ko with: state -->
                                input(data-bind="value: hex, colorPicker: true")
                                button.button.tiny.right(data-bind="text: on ? 'ON' : 'OFF', css: on ? 'success' : 'alert'")
                                <!-- /ko -->

            li.ninja
                div
                    h2 Ninja lights
                    div.lightlist(data-bind="foreach: ninja")
                        div.clearfix
                            span(data-bind="text: name")
                            button.button.tiny.right Actuate

            li.all
                div
                    h2 All
