extends layout

block contents
    #lights
        ul.maingrid.large-block-grid-3

            li.all
                div
                    h2 All
                    div.all
                        button.success All ON
                        button.alert All OFF

            li.hue
                div
                    h2 Hue lights
                    div(data-bind="foreach: hue")
                        div.lightlist(data-bind="foreach: lights")
                            div.clearfix(data-bind="attr: {'data-lightid': id}")
                                span(data-bind="text: name")
                                <!-- ko with: state -->
                                button.button.tiny.right(data-bind="text: on ? 'ON' : 'OFF', css: on ? 'success' : 'alert', click: ayla.currentView.hueLightToggle")
                                input.right(data-bind="value: color, colourPicker: true")
                                <!-- /ko -->

            li.ninja
                div
                    h2 Ninja lights
                    div.lightlist(data-bind="foreach: ninja")
                        div.clearfix
                            span(data-bind="text: name")
                            button.button.tiny.right Actuate
