extends layout

block contents
    #lights
        ul.maingrid.large-block-grid-3

            li.hue
                div
                    h2 Hue lights
                    div(data-bind="foreach: hue")
                        h5(data-bind="text: room")
                        div(data-bind="foreach: lights")
                            div.clearfix
                                span(data-bind="text: name")
                                <!-- ko with: state -->
                                button.button.tiny.right(data-bind="text: on ? 'ON' : 'OFF', css: on ? 'success' : 'alert'")
                                <!-- /ko -->

            li.ninja
                div
                    h2 Ninja lights


            li.all
                div
                    h2 All
