extends layout

block contents
    #lights
        ul.maingrid.small-block-grid-1.medium-block-grid-2

            li.hue
                h2 Hue lights
                <!-- ko with: hue -->
                ul.small-block-grid-2.medium-block-grid-3(data-bind="foreach: lights")
                    li
                        .panel.translucent
                            h5(data-bind="text: title")
                            .inner-panel
                                div.switch
                                    input(type="checkbox", data-bind="attr: {id: 'chk-hue-' + id}, checked: state, click: ayla.currentView.hueLightToggle")
                                    label(data-bind="attr: {for: 'chk-hue-' + id}")
                                div.color(data-bind="visible: state")
                                    input(type="text", data-bind="value: colorHex, colorPicker: true, event: {change: ayla.currentView.hueLightColor}")

                <!-- /ko -->

            li.ninja
                h2 Ninja lights
                table.translucent
                    thead
                        tr
                            th.title Lights
                            th.state
                                span Toggle
                    tbody(data-bind="foreach: ninja")
                        tr
                            td(nowrap)
                                span(data-bind="text: title")
                            td
                                button.button.tiny.right.alert(data-bind="click: ayla.currentView.ninjaLightToggle") OFF
                                button.button.tiny.right.success(data-bind="click: ayla.currentView.ninjaLightToggle") ON

            li.all
                div.right
                    h2 All
                    div
                        button.success All ON
                        button.alert All OFF
