extends layout

block contents
    #money
        ul.maingrid.large-block-grid-2

            li.expenses
                div
                    h2 Expenses
                    div.summary(data-bind="with: recentExpenses")
                        h3(data-bind="text: total.toFixed(2)")

            li.incomes
                div
                    h2 Incomes
                    div.summary(data-bind="with: recentIncomes")
                        h3(data-bind="text: total.toFixed(2)")
