#network.page(data-bind="page: {id: 'network', title: 'Network Overview', withOnShow: bindPage}")
    table
        thead
            tr
                td.id ID
                td.description Description
                td.addresses Addresses
                td.online Online
        tbody
            each s in status
                each device in s.devices
                    tr
                        td.id #{device.id}
                        td.description #{device.description}
                        td.addresses #{device.addresses.join(",")}
                        td.online #{device.up}
