extends ./index.jade

block contents
    #start.page
        h1 System
        ul.maingrid.small-block-grid-1
            li
                div
                    span.server-info OS:
                    span(data-bind="text: server().platform")
                div
                    span.server-info Uptime:
                    span(data-bind="text: server().uptime")
                div
                    span.server-info CPU Load:
                    span(data-bind="text: server().loadAvg + '% (' + server().cpuCores + ' cores)'")
                div
                    span.server-info RAM Usage:
                    span(data-bind="text: server().memoryUsage + '% (' + server().memoryTotal + ')'")
            li
                h3 Managers
                ul.small-block-grid-3
                    // ko foreach: managerModules()
                    li
                        .panel
                            a(data-bind="text: $data")
                    // /ko
            li
                h3 API Modules
                ul.small-block-grid-2
                    // ko foreach: apiModules()
                    li
                        .panel
                            h4(data-bind="text: moduleName")
                            div.jobs
                                h5 Jobs
                                // ko foreach: jobs
                                div(data-bind="text: callback")
                                // /ko
                    // /ko
