#system.page(data-bind="page: {id: 'system', title: 'System', withOnShow: bindPage}")
    h1 System
    ul.maingrid.small-block-grid-1
        li
            dl.tabs
                dd.tab-api
                    a(href="#system/api", title="API Modules") api modules
                dd.tab-settings
                    a(href="#system/settings", title="Server settings") all settings
                dd.tab-jobs
                    a(href="#system/jobs", title="Scheduled jobs") all jobs
                dd.tab-hardware
                    a(href="#system/hardware", title="Hardware info") hardware

            .tabs-content
                #api.content.panel(data-bind="page: {id: 'api', afterShow: ayla.indexView.setPageTab}")
                    .inner-panel
                        ul.maingrid.small-block-grid-1.medium-block-grid-4
                            // ko foreach: apiModules
                            li
                                .module
                                    h5
                                        a(data-bind="text: moduleName, attr: {href: '#api/' + moduleNameLower}")
                                    .inner-panel
                                        div
                                            span(data-bind="text: Object.keys(data).length + ' data, '")
                                            span(data-bind="text: ' jobs, '")
                                            span(data-bind="text: Object.keys(errors).length + ' errors'")
                                            span.valid(data-bind="if: oauth && oauth.authenticated") oauth
                                            span.invalid(data-bind="if: oauth && !oauth.authenticated") oauth
                            // /ko

                #settings.content.panel(data-bind="page: {id: 'settings', afterShow: ayla.indexView.setPageTab}")
                    h5 Current server settings
                    .inner-panel
                        .data-table(data-bind="html: JsonHuman.format(settings()).innerHTML")

                #jobs.content.panel(data-bind="page: {id: 'jobs', afterShow: ayla.indexView.setPageTab}")
                    table
                        thead
                            th Job
                            th Schedule
                            th Last run
                        tbody
                            // ko foreach: jobs
                            tr
                                td
                                    span(data-bind="text: id")
                                td
                                    // ko if: isNaN(schedule)
                                    span(data-bind=" text: schedule.join(', ')")
                                    // /ko
                                    // ko if: !isNaN(schedule)
                                    span(data-bind="text: 'every ' + schedule + ' seconds'")
                                    // /ko
                                td
                                    // ko if: endTime.year() > 2000
                                    span(data-bind="text: endTime.format('lll')")
                                    // /ko
                                    // ko if: endTime.year() > 2000
                                    span(data-bind="if: endTime.year() <= 2000") Never
                                    // /ko
                            // /ko

                #hardware.content.panel(data-bind="page: {id: 'hardware', afterShow: ayla.indexView.setPageTab}")
                    .inner-panel(data-bind="with: server()")
                        div
                            span.info Hostname
                            span(data-bind="text: hostname")
                        div
                            span.info Memory
                            span(data-bind="text: memoryUsage + '% (' + memoryTotal + ')'")
                        div
                            span.info CPU Load
                            span(data-bind="text: loadAvg")
                        div
                            span.info IP(s)
                            span(data-bind="text: ips.join(', ')")
                        div
                            span.info Process ID
                            span(data-bind="text: process.pid")
                        div
                            span.info Process Memory
                            span(data-bind="text: process.memoryUsage")
                        div
                            span.info Uptime
                            span(data-bind="text: uptime")
