extends layout

block contents
    #system-jobs
        table
            thead
                tr
                    td.id ID
                    td.description Description
                    td.lastRun Last Run
                    td.nextRun Next run
            tbody
                each job in jobs
                    tr
                        td.id #{job.id}
                        td.description #{job.description}
                        td.lastRun #{job.lastRun}
                        td.nextRun #{job.nextRun}