#users.page(data-bind="page: {id: 'users', title: 'Users and Devices', withOnShow: bindPage('Users')}")
    ul.maingrid.small-block-grid-1.medium-block-grid-2

        li.userlist
            h2 Users
            .panel
                table
                    thead
                        tr
                            th.name Name
                            th.email Email
                            th.status Home
                            th.location Last location
                    tbody(data-bind="foreach: {data: users, as: 'username'}")
                        tr.user(data-bind="with: $parent[username]")
                            td.title(data-bind="text: name")
                            td.email(data-bind="text: email")
                            td.status(data-bind="css: onlineCss")
                                span.fa.fa-lg.fa-mobile
                            td.location(data-bind="text: location")

        li.bluetooth
            h2 Bluetooth devices
            .panel
                table
                    thead
                        tr
                            th.device Device
                            th.type Type
                            th.mac Mac
                    tbody(data-bind="foreach: bluetoothDevices")
                        tr
                            td.device(data-bind="text: name", nowrap)
                            td.type(data-bind="text: type", nowrap)
                            td.mac(data-bind="text: mac")
