extends layout

block contents
    #users
        ul.maingrid.large-block-grid-2

            li.userlist
                div
                    h2 Users
                    table
                        thead
                            tr
                                th.name Name
                                th.email Email
                                th.online Home
                        tbody(data-bind="foreach: users")
                            tr.user(data-bind="with: $root[username]")
                                td.title(data-bind="text: name")
                                td.email(data-bind="text: email")
                                td.online(data-bind="text: online")

            li
                div
                    h2 Info
