extends layout

block contents
    #weather
        script#room-template(type="text/html")

        ul.maingrid.large-block-grid-2

            li.inside
                div
                    h2.left Inside
                    div.summary(data-bind="with: indoorAvg")
                        span.temperature(data-bind="text: temperature + '째C'")
                        span.humidity(data-bind="text: humidity + '%'")
                        span.co2(data-bind="text: co2 + 'ppm'")

                    table
                        thead
                            tr
                                th Room
                                th Temp
                                th Humidity
                                th CO2
                                th Light
                        tbody(data-bind="foreach: rooms")
                            tr.room(data-bind="css: $root[id].conditionCss, with: $root[id]")
                                td(data-bind="text: title")
                                td(data-bind="text: temperature ? temperature + '째C' : '-'")
                                td(data-bind="text: humidity ? humidity + '%' : '-'")
                                td(data-bind="text: co2 ? co2 + ' ppm' : '-'")
                                td(data-bind="text: light ? light + ' lux' : '-'")

            li.outside
                div(data-bind="css: forecast().icon")
                    h2.left Outside
                    div.summary(data-bind="with: outdoor")
                        span.temperature(data-bind="text: temperature ? temperature + '째C' : '-'")
                        span.humidity(data-bind="text: humidity ? humidity + '%' : '-'")

                    div(data-bind="with: forecast")
                        h5 Forecast
                        div.temperature
                            span.legend Temp.
                            span(data-bind="text: temperature ? temperature + '째C' : '-'")
                        div.humidity
                            span.legend Humidity
                            span(data-bind="text: humidity ? humidity + ' %' : '-'")
                        div.pressure
                            span.legend Pressure
                            span(data-bind="text: pressure ? pressure + ' mb' : '-'")