doctype html
html
    head
        meta(charset='utf-8')
        meta(name='format-detection', content='telephone=no')
        meta(name='msapplication-tap-highlight', content='no')
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
        link(rel='stylesheet', type='text/css', href='css/app_lib.css')
        link(rel='stylesheet', type='text/css', href='css/app.css')
        script(type='text/javascript', src='cordova.js')
        script(type='text/javascript', src='js/app_lib.js')
        script(type='text/javascript', src='js/app.js')
        title Ayla
    body
        .app

            h1 Ayla
            #deviceready.blink
                p.event.listening Connecting to Device
                p.event.received Device is Ready


            include ./weather.jade

        script(type='text/javascript').
            app.initialize();
