doctype html
html
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
        link(rel="stylesheet", type="text/css", href="app_lib.css")
        link(rel="stylesheet", type="text/css", href="app.css")
        script(type="text/javascript", src="cordova.js")
        script(type="text/javascript", src="app_lib.js")
        script(type="text/javascript", src="app.js")
        title Ayla
    body
        #app
            #topmenu.icon-bar.five-up
                a.item.home(data-view="home")
                    img(src="images/icons/home.svg")
                    label Home
                a.item.weather(data-view="weather")
                    img(src="images/icons/weather-cloudy.svg")
                    label Weather
                a.item.fitness(data-view="fitness")
                    img(src="images/icons/fitness.svg")
                    label Fitness
                a.item.money(data-view="money")
                    img(src="images/icons/money.svg")
                    label Money
                a.item.settings(data-view="settings")
                    img(src="images/icons/settings.svg")
                    label Settings

            include ./home.jade
            include ./settings.jade
            include ./weather.jade

        script(type="text/javascript").
            app.init();
