// API MODULES LIST PAGE STYLES

#api
    li
        .panel
            margin-bottom 0
            padding 0
            text-shadow none

            .inner-panel
                padding 10px

            h5
                display block
                margin 0
                padding 7px 10px 7px 10px
                a
                    color rgb(245, 245, 245) !important
            div
                span
                    display inline-block
                    padding-right 8px
                label
                    display inline

        .small
            font-size 80%

#wrapper #bg
    background-image url(/images/bg/api.jpg)
