// API MODULES LIST PAGE STYLES

#api
    .panel
        margin-bottom 0

        div
            span
                display inline-block
                padding-right 8px
            label
                display inline

        .disabled-modules span
            margin-right 10px

#wrapper #bg
    background-image url(/images/bg/api.jpg)
