// API MODULES LIST PAGE STYLES

#api
    li
        .panel
            margin-bottom 0
            min-height 270px
            padding 10px

            h5
                font-weight bold
            div
                span
                    display inline-block
                    padding-right 8px
                label
                    display inline


            .schedule
                margin-top 8px

        .small
            font-size 80%
