// API PAGE STYLES

#api
    table td
        vertical-align top !important

    .tabs-content
        .panel
            height 310px
        .content > div
            margin-bottom 18px

    .auth
        a
            margin-left 10px

    .error-details
        white-space nowrap

    .data
        height 100%
        overflow auto

    .data > table
        margin-bottom 1px

    // JSON transformed to tables
    .data-table
        table
            width 100%
            td, th
                white-space nowrap
            th
                width 20%

      span.info
        margin-right 8px
