// API PAGE STYLES

#api
    table td
        vertical-align top !important

    .tabs-content
        .panel
            overflow auto
            height 310px

    .clip
        overflow hidden
        text-overflow: ellipsis

    .auth
        div
            margin-bottom 10px

    .data
        height 100%
        overflow auto

    .panel > table
        margin-bottom 1px

    .error-details
        padding-top 2px

    // JSON transformed to tables
    .data-table
        table
            width 99%
            th
                white-space nowrap
                width 15%
            th, td, span
                overflow hidden
                text-overflow: ellipsis
        .depth-0
            margin 0 10px 1px 10px

      span.info
        margin-right 8px
