// API PAGE STYLES

#api
    label.label
        font-size 110%

    .tabs-content .content > div
        margin-bottom 18px
        margin-top 4px

    .tabs dd
        border-bottom 2px solid rgb(239, 239, 239)

    .data-contents
        height 380px
        overflow scroll

    span.info
        margin-right 8px
