// COLOUR PICKER PLUGIN STYLES

// Colour picker wrapper
#jquery-colourpicker

    background #FAFAFA
    border 1px solid #666666
    box-shadow 0 0 3px rgba(0, 0, 0, 0.5)
    padding 10px 5px 5px 10px
    position absolute
    width 180px
    z-index 999

    ul
        margin 0
        padding 0
        list-style-type none
        +zoom 1

        &:after
            content "."
            display block
            height 0
            visibility hidden
            clear both

        li
            float left
            margin 0 5px 5px 0
            a
                display block
                width 13px
                height 13px
                text-decoration none
                text-indent -100000px
                outline 0
                border 1px solid #aaa
                &:hover
                    border-color #000

// Colour picker input fields
input.colourpicker
    display inline-block !important
    width 70px !important