// COLOR PICKER PLUGIN STYLES

// Color picker wrapper
#jquery-colorpicker

    background #FAFAFA
    border 1px solid rgb(110, 110, 110)
    box-shadow 0 0 3px rgba(0, 0, 0, 0.5)
    max-width 250px
    padding 10px 5px 5px 10px
    position absolute
    z-index 999

    ul
        margin 0
        padding 0
        list-style-type none
        +zoom 1

        &:after
            content "."
            display block
            height 0
            visibility hidden
            clear both

        li
            float left
            margin 0 5px 5px 0
            a
                border 1px solid rgb(180, 180, 180)
                display block
                height 24px
                outline 0
                text-decoration none
                text-indent -100000px
                width 24px
                &:hover
                    border-color rgb(0, 0, 0)
            a.selected
                border-color rgb(0, 0, 0)

// Colour picker input fields
input.colorpicker
    display inline-block !important
    width 82px !important
