// DASHBOARD PAGE

#dashboard
    .maingrid

        // API module panels
        ul > li .panel
            min-height 200px

        .oauth
            float right
            position relative
            top -41px

            span.alert
                cursor pointer
