// EMAIL STYLES

#email
    .panel
        margin-bottom 0

        .inner-panel
            padding-top 0

        .message-footer
            font-size 0.8rem

            .to
                font-weight bold
            span
                margin-right 10px

        .actions
            float right
            span
                margin-left 5px
                position relative
                top -3px

        .empty
            padding-top 10px !important

#wrapper #bg
    background-image url(/images/bg/email.jpg)
