// FITNESS PAGE STYLES

#fitness
    .summary
        i
            top -2px
            position relative
        i.weight
            font-size 2.22rem
        i.fat
            font-size 2.02rem

#bg.fitness
    background-image url(/images/bg/fitness.jpg)
