// OVERWRITE FOUNDATION STYLES

// Sticky on top of the bg
.sticky
    position relative
    z-index 9

// Top bar icons
.top-bar a i
    color transparent
    width 22px
    @media only screen and (min-width: 40.063em)
        margin-right 6px
        width auto !important
.top-bar a:hover i
    color textColor

// Top bar force bg color
.top-bar
    background-color rgba(0, 0, 0, 0.9) !important
.top-bar-section ul li, .top-bar li a, .top-bar.expanded .title-area, .top-bar.expanded .toggle-topbar a
    background-color transparent !important
.top-bar-section li.active a, .top-bar-section li.active a i
    color linkColor !important

// Make panels translucent
.panel
    background translucentBgColor !important
    border 0 !important
    color textColor
    padding 0 !important
    text-shadow none

    // Force colors
    table th, table td, h1, h2, h3, h4, h5,, h5 a, h6
        color textColor

    table thead tr th, table thead tr td
        padding-bottom 0.5rem

    table
        width 100%
    thead
        background translucentBgColor !important
    h5
        background translucentBgColor !important
        color textColor
        display block
        font-size 0.875rem
        font-weight bold
        margin 0
        padding 0.625rem

    .inner-panel
        padding 10px

// Make tabs smaller
.tabs
    dd, .tab-title
        a
            background-color translucentLightBgColor
            padding 9px 16px 9px 16px

    dd.active, .tabs .tab-title.active
        a
            background-color rgba(255, 255, 255, 0.9)

// JSON transformed to tables
.tabs-content .data-table
    table
        width 99%
        th
            white-space nowrap
            width 15%
        th, td, span
            overflow hidden
            text-overflow ellipsis
    .depth-0
        margin 0
