.jsonview
    font-family monospace
    font-size 1.1em
    width 99%

    white-space pre-wrap
    .null
        color rgb(250, 190, 190)
    .bool
        color rgb(150, 200, 250)
    .num
        color rgb(140, 210, 240)

    .string
        color rgb(180, 250, 200)
        white-space pre-wrap
        &.multiline
            display inline-block
            vertical-align text-top

    .collapser
        position absolute
        left -1em
        cursor pointer
        &.collapsed
            transform rotate(0deg)

    .collapsible
        transition height 1.2s
        transition width 1.2s
        &.collapsed
            height .8em
            width 1em
            display inline-block
            overflow hidden
            margin 0
            &:before
                content "…"
                width 1em
                margin-left .2em

    .q
        display inline-block
        width 0px
        color transparent
    li
        position relative
    ul
        list-style none
        margin 0 0 0 2em
        padding 0
    h1
        font-size 1.2em

