// LIGHTS PAGE STYLES

offColor = rgb(240, 65, 36)
onColor = rgb(67, 172, 106)

#lights
    .panel
        height 92px

    .hue
        div.switch
            display inline-block

            label
                background-color offColor
                margin-bottom 1px

            input:checked + label
                background-color onColor

        .color
            float right

        .color.false
            opacity 0.1

        input.colorpicker
            border 0 !important
            color transparent !important
            height 32px
            margin 0
            width 42px

    .ninja
        button
            margin 0
            padding-left 0
            padding-right 0rem
            width 45%
        button.success
            margin-left 10px

    .all
        button
            margin-right 10px

    // Smaller texts on mobiles
    h5
        font-size 0.8em

#wrapper #bg
    background-image url(/images/bg/lights.jpg)
