// LIGHTS PAGE STYLES

offColor = rgb(240, 65, 36)
onColor = rgb(67, 172, 106)

// Hue lights and sockets
#lights
    .hue
        th.state
            text-align right
            span
                margin-right 6px

        div.switch
            display inline-block
            margin-right 10px
            label
                background-color offColor
                margin-bottom 1px

            input:checked + label
                background-color onColor

        div.color
            float right

        .colorpicker
            height 32px
            margin 0

    .ninja
        th.state
            text-align right
            span
                margin-right 12px

        button
            margin 0 0 0 6px
            width 64px

    .all
        button
            margin-right 10px
