// LIGHTS PAGE STYLES

// Hue lights and sockets
#lights
    .lightlist

        button
            margin-right 10px
            min-width 60px

        .colourpicker
            height 34px
            margin-right 10px

    .all
        button
            margin-right 10px