// MONEY PAGE STYLES

negativeColor = rgb(240, 65, 36)
positiveColor = rgb(67, 172, 106)

// Money div.
#money
    .chart
        text-align center

    .negative
        .total
            color negativeColor
    .positive
        .total
            color positiveColor

#bg.money
    background-image url(/images/bg/money.jpg)
