// MONEY PAGE STYLES

negativeColor = rgb(240, 65, 36)
positiveColor = rgb(67, 172, 106)

#money
    .negative
        .total
            color negativeColor
    .positive
        .total
            color positiveColor
