// GENERIC STYLES

// Import foundation
@import "normalize.css"
@import "foundation.css"

// ----------------------------------------------------------------------------

// Variables
lightBgColor = rgb(245, 250, 255)
lightHoverColor = rgb(220, 230, 250)

// Fonts
@font-face
    font-family "OpenSans"
    src url("../fonts/OpenSans-Regular-webfont.eot")
    src url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansLight"
    src url("../fonts/OpenSans-Light-webfont.eot")
    src url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansBold"
    src url("../fonts/OpenSans-Bold-webfont.eot")
    src url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal

// Body main styles
body
    font-family OpenSansLight, sans-serif
    text-align center

// Main wrapper
#wrapper
    margin auto

// Main contents
#contents
    margin 15px
    text-align left

// ----------------------------------------------------------------------------

// Import extra styles
@import datatables
@import home
@import system