// GENERIC STYLES

// Import css libs
@import normalize
@import jsonview
@import colorpicker

// ----------------------------------------------------------------------------

// General variables
textColor = rgb(255, 255, 255)
lightBgColor = rgb(245, 250, 255)
lightHoverColor = rgb(220, 230, 250)
gridBlockMargin = 5px
gridBlockPadding = 5px

// Fonts
@font-face
    font-family "OpenSans"
    src url("../fonts/OpenSans-Regular-webfont.eot")
    src url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansLight"
    src url("../fonts/OpenSans-Light-webfont.eot")
    src url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansBold"
    src url("../fonts/OpenSans-Bold-webfont.eot")
    src url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal

// Body main styles
body
    font-family OpenSansLight, sans-serif

// ----------------------------------------------------------------------------

// Main wrapper
#wrapper
    background rgb(0, 0, 0)
    height 100%
    margin auto
    position relative

#bg
    background-attach fixed
    background-origin border-box
    background-repeat no-repeat
    background-size cover
    height 100%
    left 0
    opacity 0.7
    position fixed
    top 0
    width 100%
    z-index 1

// Main contents
#contents
    color textColor
    margin 13px
    position relative
    text-shadow 0 0 5px rgb(42, 42, 42)
    z-index 2

.maingrid h2
    margin-left -2px

// Top bar.
.top-bar-section ul li.active > a
    font-weight bold !important

// Green and red colours.
.valid
    color rgb(10, 190, 10)
.invalid
    color rgb(220, 80, 60)

// Sticky om top of everything.
.sticky
    position relative
    z-index 9

.translucent
    background rgba(0, 0, 0, 0.3) !important

// ----------------------------------------------------------------------------

// Summary tables.
div.summary
    display inline-block

    h2
        display inline-block
        margin-right 30px
    span
        font-size 2.6em
        margin-right 30px

// ----------------------------------------------------------------------------

// Overriding datatables styles
.dataTables_wrapper
    clear both

    // Main sub classes
    .dataTables
        clear both
    .dataTables_filter
        float right
    .dataTables_length
        float left
    .odd, .even
        background lightBgColor

    // Sorting related
    .sorting_desc, .sorting_asc
        background lightHoverColor
    .sorting_1
        background lightHoverColor

// ----------------------------------------------------------------------------

// Override foundation colors.
table th, table td, h1, h2, h3, h4
    color textColor !important

// Foundation: topbar navigation
.top-bar-section li.active a
    background-color rgb(0, 0, 0) !important

// ----------------------------------------------------------------------------

// Bottom sticky announcements.
#announcements
    background rgba(60, 60, 60, 0.9)
    bottom 0
    color rgb(255, 255, 255)
    left 0
    height 28px
    margin 0
    padding 0
    position fixed
    width 100%

    div
        font-size 90%
        padding 2px 0 0 8px

#announcements.error
    background rgba(240, 65, 36, 0.9)

#announcements.ok
    background rgba(67, 172, 106, 0.9)
