// SYSTEM RELATED STYLES

#system
    table td
        vertical-align top !important

    .tabs-content
        .panel
            overflow auto
            height 310px

    span.info
        display inline-block
        width 100px

    #api
         .module
             background translucentBgColor
             margin-bottom 0

             div
                 span
                     display inline-block
                     padding-right 8px

             .disabled-modules span
                 margin-right 10px

    #apimodule
        table td
            vertical-align top !important

        .tabs-content
            .panel
                overflow auto
                height 310px

        .auth
            div
                margin-bottom 10px

        div.data
            height 100%
            overflow auto

        dd.data a
            color rgb(30, 80, 120)

        .panel > table
            margin-bottom 1px

        .error-details
            padding-top 2px

        span.info
            margin-right 8px
