// SYSTEM RELATED STYLES

#system
    table td
        vertical-align top !important

    .tabs-content
        .panel
            overflow auto
            height 320px

    span.info
        display inline-block
        width 100px

    #api
         .module
             background translucentBgColor
             margin-bottom 0

             div
                 span
                     display inline-block
                     padding-right 8px

             .disabled-modules span
                 margin-right 10px
