// SYSTEM RELATED STYLES

#system
    table td
        vertical-align top !important

    .tabs-content
        .panel
            overflow auto
            height 310px

    span.info
        display inline-block
        width 100px
