// USERS PAGE STYLES

#users
    .status
        text-align center
    .online .fa-mobile
        color rgb(100, 250, 120)
    .offline .fa-mobile
        color rgb(220, 120, 100)

    .mac
        font-size 0.8rem

#bg.users
    background-image url(/images/bg/users.jpg)
