// WEATHER PAGE STYLES

// Weather variables
warmColor = rgb(200, 80, 80)
coldColor = rgb(20, 80, 200)
humidColor = rgb(40, 100, 180)
dryColor = rgb(180, 80, 120)
co2Color = rgb(160, 80, 200)

#weather
    .summary
        i
            position relative
        .wi-thermometer
            font-size 2.05em
            top 1px
        .wi-smoke
            font-size 1.60em
        .wi-sprinkles
            font-size 2.50em
            top 6px
        .fa-leaf
            font-size 1.75em

    // Set minimum height for panels.
    .panel
        min-height 224px

    // Weather legends
    span.legend
        display inline-block
        min-width 70px

    // Indoor rooms
    tr.a-bit-warm, tr.too-warm
        .temperature
            color warmColor
    tr.a-bit-cold, tr.too-cold
        .temperature
            color coldColor
    tr.a-bit-humid, tr.too-humid
        .humidity
            color humidColor
    tr.a-bit-dry, tr.too-dry
        .humidity
            color dryColor
    tr.co2-a-bit-high, tr.co2-too-high
        .co2
            color co2Color

    // Outside table
    li.outside
        th.icon
            width 28px

    // Bold text for extreme conditions
    .too-warm .temperature, .too-cold .temperature, .too-humid .humidity, .too-dry .humidity, .co2-too-high .co2
        font-weight bold !important

    // Canvas chart with margin
    .chart canvas
        margin 8px 0 1px 10px

#bg.day-fog
    background-image url(/images/bg/weather/foggy.jpg)

#bg.day-sunny
    background-image url(/images/bg/weather/sunny.jpg)

#bg.sunny-cloudy
    background-image url(/images/bg/weather/sunny-cloudy.jpg)

#bg.cloudy
    background-image url(/images/bg/weather/cloudy.jpg)

#bg.rain
    background-image url(/images/bg/weather/rain.jpg)

#bg.thunder
    background-image url(/images/bg/weather/thunder.jpg)

#bg.snow
    background-image url(/images/bg/weather/snow.jpg)

#bg.moon-old
    background-image url(/images/bg/weather/moon.jpg)
