// WEATHER PAGE STYLES

// Weather variables
goodColor = rgb(180, 240, 190)
warmColor = rgb(250, 170, 160)
coldColor = rgb(40, 100, 200)
humidColor = rgb(190, 220, 250)
dryColor = rgb(200, 170, 170)

#weather

    // Main 2 col grid
    ul.maingrid > li > div
        min-height 500px

    // Outside weather
    div.cloud
        background url("../images/weather-cloud.png") no-repeat top right
    div.moon
        background url("../images/weather-moon.png") no-repeat top right
    div.rain
        background url("../images/weather-rain.png") no-repeat top right
    div.snow
        background url("../images/weather-snow.png") no-repeat top right
    div.sunny
        background url("../images/weather-sunny.png") no-repeat top right
    div.sunny-cloudy
        background url("../images/weather-sunny-cloudy.png") no-repeat top right
    div.thunder
        background url("../images/weather-thunder.png") no-repeat top right

    // Weather sub headers
    div.summary
        display inline-block
        font-size 170%
        span
            margin-right 12px

    // Weather legends
    span.legend
        display inline-block
        min-width 70px

    // Indoor rooms
    tr.a-bit-warm, tr.too-warm
        .temperature
            color warmColor
    tr.a-bit-cold, tr.too-cold
        .temperature
            color coldColor
    tr.a-bit-humid, tr.too-humid
        .humidity
            color humidColor
    tr.a-bit-dry, tr.too-dry
        .humidity
            color dryColor

    // Outdoor panel
    li.outside
        h5
            clear both