// WEATHER PAGE STYLES

// Weather variables
goodColor = rgba(180, 240, 190, 0.8)
warmColor = rgba(250, 170, 160, 0.8)
coldColor = rgba(160, 200, 250, 0.8)
humidColor = rgba(190, 220, 250, 0.8)
dryColor = rgba(200, 170, 170, 0.8)

#weather

    // Main 2 col grid
    ul.maingrid > li > div
        min-height 500px

    // Outside weather
    div.cloud
        background url("../images/weather-cloud.png") no-repeat top right
    div.moon
        background url("../images/weather-moon.png") no-repeat top right
    div.rain
        background url("../images/weather-rain.png") no-repeat top right
    div.snow
        background url("../images/weather-snow.png") no-repeat top right
    div.sunny
        background url("../images/weather-sunny.png") no-repeat top right
    div.sunny-cloudy
        background url("../images/weather-sunny-cloudy.png") no-repeat top right
    div.thunder
        background url("../images/weather-thunder.png") no-repeat top right

    // Weather sub headers
    div.summary
        display inline-block
        font-size 170%
        margin 9px 0 0 20px
        span
            margin-right 12px

    // Weather legends
    span.legend
        display inline-block
        min-width 70px

    // Indoor rooms
    div.room
        div
            clear both
        .label
            margin-left 10px
            margin-top 2px

        // Colour labels
        &.good
            border-color goodColor
            .label
                background-color goodColor
        &.warm, &.too-warm
            border-color warmColor
            .label
                background-color warmColor
        &.cold, &.too-cold
            border-color coldColor
            .label
                background-color coldColor
        &.a-bit-humid, &.too-humid
            border-color humidColor
            .label
                background-color humidColor
        &.a-bit-dry, &.too-dry
            border-color dryColor
            .label
                background-color dryColor

        // Weather labels
        span.label
            margin-top 3px

    // Indoor panel
    li.inside
        table
            clear both

    // Outdoor panel
    li.outside
        h5
            clear both
