extends layout

block contents
    #home-lights
        table
            thead
                tr
                    td Light
                    td State
                    td Colour
            tbody
                each light in hub.lights
                    tr
                        td #{light.name}
                        td #{light.state.on}
                        td #{light.state.hue} / #{light.state.bri}