extends layout

block contents
    #home
        div.climate
            h3 Ambient conditions
            div.indoor-temp= dataCache["netatmo-indoor"].temp
            div.indoor-humidity= netatmo["netatmo-indoor"].humidity
            div.indoor-co2= netatmo["netatmo-indoor"].co2
        div.lights