extends layout

block contents
    #home-lights
        table
            thead
                tr
                    td.name Light
                    td.state State
                    td.colour Colour
            tbody
                each light in hub.lights
                    tr
                        td.name(data-bind="text: name")
                        td.state(data-bind="text: state")
                        td.colour(data-bind="text: colour")