doctype html
html
    head
        title Ayla
        meta(name="apple-mobile-web-app-capable", content="yes")
        script(src="/socket.io/socket.io.js")
        script window.ayla = {};
        != js("scripts")
        != css("styles")
        for j in loadJs
            != js(j)
    body
        #wrapper
            #header
                .contents
                    h1 Ayla
                    a.today(href="/today") today
                    a.weather(href="/weather") weather
                    a.home(href="/home") home
                    a.security(href="/security") security
                    a.fitness(href="/fitness") fitness
                    a.money(href="/money") money
                    a.system(href="/system") system
            #alerts
                .contents
                    label.title
                    span.message
            h1= pageTitle
            block contents