!!! 5
html
    head
        title Ayla
        meta(name="apple-mobile-web-app-capable", content="yes")
        script(src="/socket.io/socket.io.js")
        script window.ayla = {};
        != js("scripts")
        != css("styles")
    body
        #wrapper
            #header
                .contents
                    h1 Ayla
                    a(href="/today") today
                    a(href="/home") home
                    a(href="/weather") weather
                    a(href="/security") security
                    a(href="/fitness") fitness
                    a(href="/money") money
                    a(href="/system") system
            #alerts
                .contents
                    label.title
                    span.message
            block contents