!!! 5
html
    head
        title Izulu
        meta(name="apple-mobile-web-app-capable", content="yes")
        script(src="/socket.io/socket.io.js")
        script window.jarbas = {};
        != js("scripts")
        != css("styles")
    body
        #wrapper
            #header
                .contents
                    h1 Jarbas
                    a(href="/home") home
                    a(href="/health") health
                    a(href="/todo") todo
                    a(href="/system") system
            #alerts
                .contents
                    label.title
                    span.message
            block contents