doctype html
html
    head
        title Ayla
        meta(name="apple-mobile-web-app-capable", content="yes")
        script(src="/socket.io/socket.io.js")
        script window.ayla = {};
        != js("scripts")
        != css("styles")
        for j in loadJs
            != js(j)
    body
        #wrapper
            #header
                .contents
                    h2 Ayla
                    a.today(href="/today") Today
                    a.home(href="/home") Home
                    a.security(href="/security") Security
                    a.fitness(href="/fitness") Fitness
                    a.money(href="/money") Money
                    a.system(href="/system") System
            #alerts
                .contents
                    label.title
                    span.message
            h1= pageTitle
            block contents