{
    "camera.coffee": [
        {
            "callback": "jobTakeSnaps",
            "schedule": 900,
            "enabled": false
        },
        {
            "callback": "jobCleanSnaps",
            "schedule": [
                "11:00:00",
                "21:00:00"
            ],
            "enabled": false
        }
    ],
    "electricimp.coffee": [
        {
            "callback": "jobGetDeviceData",
            "schedule": 120,
            "enabled": false
        }
    ],
    "fitbit.coffee": [
        {
            "callback": "jobCheckGeneralFitness",
            "schedule": [
                "10:00:00"
            ],
            "enabled": false
        },
        {
            "callback": "jobCheckMissingData",
            "schedule": [
                "14:00:00"
            ],
            "enabled": false
        }
    ],
    "hue.coffee": [
        {
            "callback": "jobRefreshHub",
            "schedule": 60,
            "enabled": false
        }
    ],
    "netatmo.coffee": [
        {
            "callback": "jobGetDevices",
            "schedule": [
                "09:00:00",
                "19:00:00"
            ],
            "enabled": true
        },
        {
            "callback": "jobGetOutdoor",
            "schedule": 600,
            "enabled": true
        },
        {
            "callback": "jobGetIndoor",
            "schedule": 300,
            "enabled": true
        }
    ],
    "network.coffee": [
        {
            "callback": "jobProbeDevices",
            "schedule": 60,
            "enabled": false
        },
        {
            "callback": "jobProbeRouter",
            "schedule": 30,
            "enabled": false
        }
    ],
    "ninja.coffee": [
        {
            "callback": "jobGetDeviceList",
            "schedule": 3600,
            "enabled": false
        }
    ],
    "toshl.coffee": [
        {
            "callback": "jobGetRecentExpenses",
            "schedule": [
                "11:00:00",
                "21:00:00"
            ],
            "enabled": false
        }
    ],
    "wunderground.coffee": [
        {
            "callback": "jobGetWeather",
            "schedule": 600,
            "enabled": false
        },
        {
            "callback": "jobGetAstronomy",
            "schedule": [
                "01:00:00"
            ],
            "enabled": false
        }
    ]
}