{
    "accessTokens": {
        "sD84sf4ujjIFa7": "String",
        "ZaLjd4Shf897cp": "String"
    },
    "app": {
        "url": "String",
        "connectAssets": {
            "build": "Boolean",
            "buildDir": "Boolean",
            "compress": "Boolean",
            "gzip": "Boolean"
        }
    },
    "electricimp": {
        "devices": [
            "String"
        ]
    },
    "emailAccounts": {
        "main": {
            "archiveName": "String",
            "inboxName": "String",
            "imap": {
                "host": "String",
                "password": "String",
                "port": "Number",
                "user": "String",
                "tls": "Boolean",
                "tlsOptions": {
                    "rejectUnauthorized": "Boolean"
                }
            },
            "rules": [
                {
                    "action": "String",
                    "from": [
                        "hi@ayla.pw",
                        "igor@devv.com",
                        "igor.ramadas@zalando.de",
                        "devv@devv.com",
                        "biiinnneee@yahoo.de"
                    ]
                }
            ]
        }
    },
    "fitbit": {
        "api": {
            "clientId": "String",
            "secret": "String"
        }
    },
    "github": {
        "api": {
            "token": "String"
        }
    },
    "home": {
        "rooms": [
            {
                "id": "String",
                "title": "String",
                "floor": "Number",
                "climateSource": {
                    "electricimp": "String"
                }
            },
            {
                "id": "String",
                "title": "String",
                "floor": "Number",
                "climateSource": {
                    "netatmo": "String"
                },
                "ventilatorSource": {
                    "ninja": {
                        "on": "xx",
                        "off": "yy"
                    }
                }
            },
            {
                "id": "String",
                "title": "String",
                "floor": "Number",
                "climateSource": {
                    "netatmo": "String"
                },
                "doorSensor": {
                    "ninja": "String"
                }
            },
            {
                "id": "String",
                "title": "String",
                "floor": "Number",
                "climateSource": {
                    "ninja": "String"
                },
                "ventilatorSource": {
                    "ninja": {
                        "on": "ie9CU",
                        "off": "eubb2"
                    }
                },
                "doorSensor": {
                    "ninja": "String"
                }
            },
            {
                "id": "String",
                "symbol": "String",
                "title": "String",
                "floor": "Number",
                "climateSource": {
                    "ubi": "String"
                }
            }
        ]
    },
    "hue": {
        "api": {
            "user": "String"
        }
    },
    "logger": {
        "criticalEmailTo": "String",
        "local": {
            "maxAge": "Number"
        }
    },
    "mailer": {
        "doNotSend": "Boolean",
        "from": "String",
        "smtp": {
            "password": "String",
            "service": "String",
            "user": "String"
        }
    },
    "netatmo": {
        "api": {
            "clientId": "String",
            "secret": "String",
            "oauthState": "String",
            "username": "String"
        }
    },
    "network": {
        "autoDiscovery": "Boolean",
        "router": {
            "description": "String",
            "host": "String",
            "ip": "String",
            "port": "Number",
            "remoteHost": "String"
        },
        "devices": [
            {
                "description": "String",
                "host": "String",
                "type": "String",
                "ip": "String",
                "port": "Number"
            },
            {
                "description": "String",
                "host": "String",
                "type": "String",
                "ip": "String",
                "port": "Number"
            },
            {
                "description": "String",
                "host": "String",
                "type": "String",
                "ip": "String",
                "port": "Number",
                "webPath": "String"
            }
        ]
    },
    "newRelic": {
        "appName": "String",
        "licenseKey": "String"
    },
    "ninja": {
        "api": {
            "userToken": "String"
        }
    },
    "strava": {
        "api": {
            "clientId": "String",
            "secret": "String"
        }
    },
    "users": {
        "igor": {
            "isDefault": "Boolean",
            "name": "String",
            "email": "String",
            "computerMac": "String",
            "bluetoothMac": "String",
            "fitness": {
                "desiredWeight": "Number",
                "desiredFat": "Number"
            }
        },
        "sabine": {
            "name": "String",
            "email": "String",
            "computerMac": "String",
            "bluetoothMac": "String"
        },
        "noah": {
            "name": "String"
        }
    },
    "withings": {
        "userId": "Number",
        "api": {
            "clientId": "String",
            "secret": "String"
        }
    },
    "wunderground": {
        "api": {
            "clientId": "String"
        },
        "defaultQuery": "String"
    }
}