// DASHBOARD PAGE

#dashboard

    .section
        margin-bottom 20px

    // API module panels
    .column .panel
        min-height 200px

    .oauth
        float right
        position relative
        top -41px

        .label
            font-size 75%

        span.alert
            cursor pointer
