// DATATABLES SPECIFIC CLASSES

.dataTables_wrapper
    clear both

    // Main sub classes

    .dataTables
        clear both

    .dataTables_filter
        float right

    .dataTables_length
        float left

    .odd, .even
        background lightBgColor

    // Sorting related

    .sorting_desc, .sorting_asc
        background lightHoverColor

    .sorting_1
        background lightHoverColor