// MAIN STYLES

// Variables
formTextColor = rgb(30, 30, 30)
linkColor = rgb(45, 155, 235)
lightLinkColor = rgb(175, 235, 255)
gridBlockMargin = 5px
gridBlockPadding = 5px
validColor = rgb(33, 199, 33)
invalidColor = rgb(222, 122, 111)
invalidBgColor = rgba(250, 110, 90, 0.45)
topBarBgColor = rgb(33, 33, 33)
panelBgColor = rgb(240, 240, 240)

// Import css libs
@import foundation
@import fontawesome
@import jsonhuman

// FONTS
// ----------------------------------------------------------------------------

@font-face
    font-family "OpenSans"
    src url("../fonts/OpenSans-Regular-webfont.eot")
    src url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansLight"
    src url("../fonts/OpenSans-Light-webfont.eot")
    src url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansBold"
    src url("../fonts/OpenSans-Bold-webfont.eot")
    src url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal

// MAIN LAYOUT
// ----------------------------------------------------------------------------
html
    overflow-x hidden

// Body main styles
body
    background-size cover
    font-family OpenSansLight, sans-serif
    overflow-x hidden

// Special font for headers
h1, h2, h3, h4, h5, h6, nav
    font-family OpenSans, sans-serif

// Sticky on top of the bg
div.fixed
    position fixed
    z-index 9

// FORMS
// ----------------------------------------------------------------------------

textarea
    color formTextColor

// IMPORT PAGE STYLES
// ----------------------------------------------------------------------------
@import dashboard
@import start
