doctype html
html
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
        link(rel="stylesheet", type="text/css", href="app_lib.css")
        link(rel="stylesheet", type="text/css", href="app.css")
        script(type="text/javascript", src="cordova.js")
        script(type="text/javascript", src="app_lib.js")
        script(type="text/javascript", src="app.js")
        title Ayla
    body
        #app
            #topmenu.top-bar
                .top-bar-left
                    ul.menu
                        li.item.dashboard(data-view="dashboard")
                            label Start
                        li.item.weather(data-view="weather")
                            label Weather
                        li.item.lights(data-view="lights")
                            label Lights
                        li.item.media(data-view="media")
                            label Media

            include dashboard
            include weather
            include lights
            include media

            include settings

        script(type="text/javascript").
            app.init();
