#settings.page
    .row
        h1 Settings
    .row
        .small-12.column
            span Hostname and port of your home server:
    .row
        .small-8.column
            input.host(type="text", placeholder="home server hostname")
        .small-4.column
            input.port(type="text", placeholder="port")
    .row
        .small-12.column
            span Your access token:
    .row
        .small-12.column
            input.token(type="text", placeholder="your personal token")

    .row
        .small-6.column
            button.save Save
