#settings.page
    h2 Server settings
    form(data-abide="ajax")
        .row.spaced
            .small-12.column
                span Hostname and port of the home server
        .row
            .small-8.column
                input.host(type="text", placeholder="home server hostname", pattern="alpha_numeric", required)
                span.form-error Invalid hostname
            .small-4.column
                input.port(type="text", placeholder="port", pattern="number", required)
                span.form-error Invalid port
        .row.spaced
            .small-12.column
                span Your access token
        .row
            .small-12.column
                input.token(type="text", placeholder="your personal token", pattern="alpha_numeric", required)
                span.form-error Access token must be alphanumeric
        .row.spaced
            .small-12.column
                span.server-result(data-bind="if: username") Not authenticated yet...
        .row.spaced
            .small-6.column
                button.button.save(type="submit") Save
